ol, ul, dl {
    margin-top: 0rem;
    margin-bottom: 1rem;
    -webkit-backdrop-filter: blur(21px) brightness(1.1);
    backdrop-filter: blur(21px) brightness(1.1);
    display: table-row;
}

.btn-primary {
    color: #9f9f9f;
    font-weight: bolder;
    background-color: #0d6dfd00;
    border-color: #0d6dfd00;
    display: table;
    -webkit-backdrop-filter: blur(6px) grayscale(3);
    backdrop-filter: blur(6px) brightness(3);
}

.top-margin{
    
    margin-top: 2rem;
    
}

.btn:hover{
    color: #0b2540;
    background-color: #9c913f;
    border-color: #9c913f;
}
