@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Rajdhani:wght@700&display=swap');

p{
  background-color: #423d1594;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 0%;
  margin-bottom: 0%;
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
  border-top-right-radius: 500px;
  border-top-left-radius: 500px;
  align-content: center;

}

.App {
  text-align: center;
  background-image: url("./images/michael-dziedzic-bhFkSyBUqAY-unsplash.jpg");
  opacity: .1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-grid{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.App-middle-fr{
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.App-album-circle{
  border-radius: 50%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(21px) brightness(1.1);
  backdrop-filter: blur(21px) brightness(1);
  width: 621px;
  height: 621px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 3%; 
  padding-top: 75px; 
  text-align: -webkit-center;
  color: azure;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.5rem;
  color: #9F9F9F;
}

.App-album-middle{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.App-album-thumbdown{
  height: 100px;
  width: 100px;
}

.App-popup-delete{
  display: grid;
  justify-items: center;
  margin-top: 18em;
  margin-left: 36%;
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: #fff;
  background-color: #464a4e00;
  border-color: #0a58ca00;
  box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 0%);
}

.App-popup-comfirm{
  background-color: #9c9b34!important;
  color: #dfdfdf!important;

}

.App-popup-text-bold{
  font-weight: bolder;
}

.App-song-name{
  font-size: 2rem;
}

.App-little-circle{
  border-radius: 50%;
  width: 66px;
  height: 66px;
  background-color: #9f9f9f9d;
  margin-top: 13px;
}

.App-controls {
  border-radius: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 621px;
  height: 110px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 200px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(21px) brightness(1.1);
  backdrop-filter: blur(21px) brightness(1.2);
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent; 
  border-left: 50px solid #f4f1369a;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #475169fc;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
  color: #b9b9b9;
}

.x-button-popup {
  border-radius: 20%;
  background-color: #9c9b34;
  color: #dfdfdf;
}

.fast-forward-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.fast-forward-tri{
  width: 0; 
  height: 0; 
  border-top: 24px solid transparent;
  border-bottom: 24px solid transparent; 
  border-left: 40px solid #f4f1369a;
}

.rr-tri{
    width: 0; 
    height: 0; 
    border-top: 24px solid transparent;
    border-bottom: 24px solid transparent; 
    border-right:40px solid #f4f1369a; 
}

.App-album-add-delete {
  opacity: .9;
  display: grid;
  font-size: 121px;
  padding-top: 10px;
  margin-top: 2px;
  width: 100px;
  height: 100px;
  background-color: #333333;
  border-radius: 50%;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.App-album-add-delete:hover{
  color: #9c913f!important;
}

.App-buttons{
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(21px) brightness(1.1);
  backdrop-filter: blur(21px) brightness(1.4);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


